[tool.black]
line-length = 88
target-version = ["py39"]
exclude = '''
(
    \.git/
  | \.vscode/
  | env/
)
'''

[tool.isort]
profile = "black"

[tool.poetry]
name = "homeassistant-biketrax"
version = "0.3.0"
description = "Custom component for the PowUnity BikeTrax integration for Home Assistant."
authors = ["Bas Stottelaar <basstottelaar@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.9"
homeassistant = "^2022.10.0"
flake8 = "^5.0.4"
flake8-mypy = "^17.8.0"
aiobiketrax = {version = "^0.4.0", allow-prereleases = true}

[tool.poetry.dev-dependencies]
pytest = "^7.1"
black = "^22.10.0"
isort = "^5.10.1"
